<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BMG</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="navbar">
        <div class="item">BMG</div>
        <div class="item">
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Home" asp-action="History">History</a>
            <a asp-controller="Login" asp-action="Profile">Profile</a>
            <a asp-controller="Login" asp-action="Logout">Logout</a>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
