@{
    ViewData["Title"] = "New Account";
}
<div class="main">
    <form method="post" asp-controller="Account" asp-action="Create">
        <div class="form-item">
            <label for="type">Type:</label><br>
            <select id="type" name="type" onchange="updateRoi()">
                <option value="Savings">Savings</option>
                <option value="Current">Current</option>
                <option value="Fixed Deposit">Fixed Deposit</option>
            </select>
        </div>
        <div class="form-item">
            <label for="roiDisplay">Rate of Interest</label>
            <input type="text" id="roiDisplay" readonly value="1%" />
            <input type="hidden" id="roi" name="roi" value="1" />
        </div>
        <div class="form-item">
            <label for="doc">Date of Creation</label>
            <input type="datetime" id="doc" name="doc" readonly value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
        </div>
        <div class="form-item">
            <label for="balance">Balance</label>
            <input type="number" id="balance" name="balance" />
        </div>
        <div class="form-item">
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>

<script>
    function updateRoi() {
        var type = document.getElementById("type").value;
        var roiDisplay = document.getElementById("roiDisplay");
        var roi = document.getElementById("roi");
        if (type === "Savings") {
            roiDisplay.value = "1%";
            roi.value = 1;
        } else if (type === "Current") {
            roiDisplay.value = "2%";
            roi.value = 2;
        } else if (type === "Fixed Deposit") {
            roiDisplay.value = "5%";
            roi.value = 5;
        }
    }
</script>
